<html>
	<head id="container" name="container"><noscript>
			<meta http-equiv="Refresh" content="0;url=/cgi-bin/loginswitch?f=html&nf=xhtml&sid=E6tcguQ74MKx4nIt&url=%2Fcgi-bin%2Ftoday" /></noscript>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="Content-Type" content="text/html; charset=gb18030" />
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="mon, 22 jul 2002 11:12:01 GMT">
		<meta http-equiv="pragma" content="no-cache">
		<link rel="icon" type="images/png" sizes="16*16" href="/zh_CN/htmledition/images/favicon/qqmail_favicon_16h.png">
		<link rel="icon" type="images/png" sizes="32*32" href="/zh_CN/htmledition/images/favicon/qqmail_favicon_32h.png">
		<link rel="icon" type="images/png" sizes="48*48" href="/zh_CN/htmledition/images/favicon/qqmail_favicon_48h.png">
		<link rel="icon" type="images/png" sizes="96*96" href="/zh_CN/htmledition/images/favicon/qqmail_favicon_96h.png">
		<!-- 	<meta name="theme-color" content="gray"> -->
		<title>iCloud邮箱</title>
		<link rel="stylesheet" type="text/css" href="css/write.css" onload="MarkTime('res');" />
		<link rel="stylesheet" type="text/css" href="css/write1.css" />
		<link rel="stylesheet" type="text/css" href="css/write2.css" />
		<link rel="stylesheet" type="text/css" href="css/write3.css" />
		<link rel="stylesheet" type="text/css" href="css/write4.css" />
		<style type="text/css">
			html,
			body {
				padding: 0;
				margin: 0;
				overflow: auto;
				overflow-x: hidden;
			}

			html {
				height: 100%;
			}

			#mainFrame {
				position: absolute;
				_position: relative;
			}
		</style>
	</head>
	<body class="frame_class">
		<div id="resize" style="position:relative;width:100%;height:100%;"><a tabindex="1" accesskey="9" href="/cgi-bin/loginswitch?f=html&nf=xhtml&sid=E6tcguQ74MKx4nIt&url=%2Fcgi-bin%2Ftoday"
			 nocheck="true" style="position:absolute;top:-999px;">使用读屏软件的朋友请进入这个入口</a><a tabindex="2" accesskey="0" target="_blank"
			 href="" nocheck="true" style="position:absolute;top:-999px;">无障碍帮助入口</a>
			<div id="backsend_container" class="backsendsdiv"><span id="backsend_info" style="display:none;" class="backsendstatus"></span>
				<div id="backsend_panel" style="display:none;"></div>
			</div>
			<div class="getuserdata" id="topDataTd">
				<div class="topdata">
					<script>var nn="H*";</script>
					<div class="topbg" style="height:66px">
						<div class="setinfo addrtitle" id="SetInfo">
							<div class="right"><span id="sendToMobile" style="display:none"><span id="sendToMobileIcon" cssprefix="pointer icon_top_sendtomobile_"
									 class="pointer icon_top_sendtomobile_init" onclick="window.QMSendToMobile&&QMSendToMobile.initSendToMobile()"
									 title="传送到手机"></span>| </span><a href="https://support.qq.com/product/36450" target="_blank" class="toptitle">反馈建议</a><span
								 class="addrtitle"> | </span><span id="mini_frame_html_setting" style="display:none;"><a accesskey="o" href="/cgi-bin/setting1?sid=E6tcguQ74MKx4nIt&fun=list&loc=frame_html,,,3"
									 target="mainFrame" class="toptitle">设置</a><span class="addrtitle"> | </span></span><a href="http://service.mail.qq.com"
								 target="_blank" class="toptitle">帮助中心</a><span class="addrtitle" onmousedown="return false" unselectable="on">
									| </span><a href="javascript:;" onclick="jumpLogout('/cgi-bin/logout?sid=E6tcguQ74MKx4nIt&loc=frame_html,,,5')"
								 target="_parent" class="toptitle">退出</a>
							</div>
							<div id="minimize_container" class="right"></div>
							<div id="gplayer_container" class="right"></div>
						</div>
						<div class="search_subject nowrap">
							<div id="smartSearch" class="smartsearch"><input type="text" class="searchinput" fullsearch="0" newattachfolder="0"
								 id="subject" name="subject" autocomplete="off" value="邮件搜索..." style="color: rgb(160, 160, 160);" onFocus="call('QMFullTextSearch.onfocus')"
								 onBlur="call('QMFullTextSearch.onblur')" aria-label="搜索" /><span class="ss_icon ss_fronticon ss_icon_search"
								 id="searchIcon"></span><span class="ss_icon ss_endicon ss_icon_arrowdown" id="subjectsearchLogo" onclick="call('showAdvanceSearchMenu')"></span></div>
						</div>
					</div>
					<div class="lgoo" id="logotips"><a class="imglogo pointer skinlogo" style="width:215px; height:60px;" href="/cgi-bin/today?sid=E6tcguQ74MKx4nIt&error=index&loc=frame_html,,,1"
						 target="mainFrame" hidefocus><img class="maillogo" t="3" e="imglogo" logotitle="" alt="邮箱logo" stylenum="0" id="imglogo"
							 src="img/logo.png" /></a>
						<div class="switch">
							<div class="left" style="margin-top:1px;"><b id="useralias">H*</b><span id="useraddrcontainer" class="pointer">&lt;<span
									 id="useraddr" title="关联其他QQ邮箱">2418173624@qq.com</span>&gt;<small class="arrow_fontsize" style="visibility:hidden;"
									 id="useraddrArrow">&#9660;</small></span><span class="" id="useraddrcontainer_ipad" style="display:none;">&lt;<span
									 id="useraddr_ipad" title="关联其他QQ邮箱">2418173624@qq.com</span>&gt;</span><span id="setAliasTip" class="icon_securityCenterTip"
								 style="display: none"></span>
								<style>.bindacc .menu_item,.bindacc  .menu_item_high,.bindacc  .menu_item_nofun{padding:0 10px 0 8px;}</style><br /><span
								 class="addrtitle"><a href="index.html" target="mainFrame">邮箱首页</a>&nbsp;|&nbsp;<a accesskey="o" href="/cgi-bin/setting1?sid=E6tcguQ74MKx4nIt&fun=list&loc=frame_html,,,3"
									 target="mainFrame" id="frame_html_setting">设置</a>&nbsp;-&nbsp;<a id="changeSkin" href="/cgi-bin/setting5?sid=E6tcguQ74MKx4nIt&fun=list&clicknews=yes&loc=frame_html,,,4"
									 target="mainFrame">换肤</a><span class="new_update_ico_dark" id="changeSkinIcon"></span></span>
							</div>
							<form id="frmSwitch" action="/cgi-bin/do" method="get"><input type="hidden" name="action" value="tobizmail" /><input
								 type="hidden" name="sid" value="E6tcguQ74MKx4nIt" /></form>
						</div>
					</div>
				</div>
			</div>
			<div class="topline_height" id="sepLineTd">
				<div class="topline">
					<div class="toplineimg left" id="imgLine"></div>
				</div>
			</div>
			<form name="submit_form" action="/cgi-bin/foldermgr?sid=E6tcguQ74MKx4nIt" method="POST" target="actionFrame"><input
				 name="sid" type="hidden" value="E6tcguQ74MKx4nIt" /><input name="fun" type="hidden" value="empty" /><input name="folderid"
				 type="hidden" /><input name="loc" type="hidden" /><input name="rk" type="hidden" /></form>
			<div class="fdbody bodybgbt"></div>
			<div class="abbcd">
				<div class="newskinbody" id="leftPanel" oncontextmenu="call('navRightMenu',this,event);">
					<div id="navBarDiv">
						<ul class="navbar fdul" id="navBarTd">
							<li class="composepart fs" id="composebtn_td"> <a id="composebtn" accesskey="c" hidefocus href="write.html"
								 target="mainFrame">写信</a><input type="button" class="composebtn" disabled /></li>
							<li class="checkpart fs"><a accesskey="i" href="receiving.html" id="readmailbtn_link" nocheck="false" target="actionFrame"
								 hidefocus onClick="recordReadedMailId(null);switchFolder('folder_1');reloadLeftWin();QMMLCache.upVer();QMMLCache.folder(1);">收信</a><input
								 type="button" class="checkbtn" disabled /></li>
							<li class="addrpart fs"><a accesskey="l" hidefocus href="addressbook.html" target="mainFrame">通讯录</a></a><input
								 type="button" class="addrbtn" disabled /></li>
						</ul>

						<div id="navMidBar" class="listbg listflow">
							<div id="folder" class="folderDiv"><a id="detechFL"></a>
								<div>
									<div>
										<style>.max_width{width:110px;overflow:hidden;}</style>
										<div id="OutFolder">
											<div id="SysFolderList">
												<ul class="fdul">
													<li id="folder_1_td" dr="1" class="fs" style=""> <a id="folder_1" onclick="switchFolder(this.id);" href="receiving.html"
														 target="mainFrame" class="f_size" title="收件箱中有 166 封未读邮件" hidefocus><b>收件箱</b><b>(166)</b></a> </li>
													<li id="folder_starred_td" class="fs" dr="starred"> <a id="folder_starred" onClick="switchFolder(this.id);"
														 href="/cgi-bin/mail_list?sid=E6tcguQ74MKx4nIt&s=star&folderid=all&flag=star&page=0&need_folderlock=0&fun=slock&loc=folderlist,,,110&topmails=0"
														 target="mainFrame" class="f_size staradjust" title="" hidefocus>星标邮件<input class="ico_input icon_folderlist_star"
															 type="button" hidefocus /></a> </li>
													<li id="folder_8_td" dr="8" class="fs" style=""> <a id="folder_8" onclick="switchFolder(this.id);" href="/cgi-bin/mail_list?sid=E6tcguQ74MKx4nIt&folderid=8&page=0&t=mail_list_group&loc=folderlist,,,8"
														 target="mainFrame" class="f_size" title="有 124 封未读群邮件" hidefocus><b>群邮件</b><b>(124)</b></a> </li>
													<li id="folder_4_td" dr="4" class="fs" style=""> <a id="folder_4" onclick="switchFolder(this.id);" href="/cgi-bin/mail_list?sid=E6tcguQ74MKx4nIt&folderid=4&page=0&loc=folderlist,,,4"
														 target="mainFrame" class="f_size" title="" hidefocus>草稿箱(1)</a> </li>
													<li id="folder_3_td" dr="3" class="fs" style=""> <a id="folder_3" onclick="switchFolder(this.id);" href="sendcomplete.html"
														 target="mainFrame" class="f_size" title="" hidefocus>已发送</a> </li>
													<li id="folder_5_td" dr="5" class="fs" style="text-align:right;"> <a id="folder_5" onclick="switchFolder(this.id);"
														 href="delete.html" target="mainFrame" class="f_size" title="" hidefocus style="text-align:left;">已删除</a>
													</li>
													<li id="folder_6_td" dr="6" class="fs" style="*margin-bottom:-1px;text-align:right;"> <a id="folder_6"
														 onclick="switchFolder(this.id);" href="rubbish.html" target="mainFrame" class="f_size" title=""
														 hidefocus style="text-align:left;"><b>垃圾箱</b><b>(8)</b></a> <a href="javascript:;" target="leftFrame"
														 onClick="emptyFolder(0,function(){QMMLCache.upVer(); doFolderEmpty(6, submit_form,'folderlist,,,10');},'垃圾箱');"
														 class="nolinkbg normal fdleft empty_link" hidefocus>[清空]</a> </li>
												</ul>
												<div class="sepline"></div>
											</div>
											<div id="ScrollFolder">
												<div style="height:3px;overflow:hidden;"></div>
												<div id="showtopDiv">
													<ul id="mytopfolders"></ul>
													<ul id="poptopfolders"></ul>
													<ul id="tagtopfolders"></ul>
												</div>
												<div id="personalfoldersDiv" dp="personal">
													<ul class="fdul" id="personalfolders" style="display:none;overflow:hidden;"> </ul>
												</div>
												<div id="popfoldersDiv" dp="pop">
													<ul class="fdul">
														<li class="fs" id="folder_pop_td" style="*margin-bottom:-2px;" dr="pop" dp="pop" dn="0"><a id="folder_pop"
															 onClick="switchFolder(this.id);" href="/cgi-bin/folderlist?sid=E6tcguQ74MKx4nIt&t=popfolder_maillist"
															 target="mainFrame" hidefocus>其他邮箱</a><img src="https://rescdn.qqmail.com/zh_CN/htmledition/images/spacer1e9c5d.gif"
															 id="icon_pop" class="fd_on hidden" onClick="showFolders('pop')" hidefocus /></li>
													</ul>
													<ul class="fdul" id="popfolders" style="display:none;overflow:hidden;"> </ul>
													<script type="text/javascript">
														var oAcctEmail = {};
													</script>
												</div>
												<div id="tagfoldersDiv" dp="tag">
													<ul class="fdul " id="tagfolders" style="display:none;overflow:hidden;"></ul>
												</div>
												<div class="sepline" style="margin-top:4px;"></div>
												<div class="sepline_height"></div>
												<ul class="fdul" id="my_note">
													<li class="fs fs_sep" style=""><span><a href="/cgi-bin/readtemplate?sid=E6tcguQ74MKx4nIt&t=calendar&loc=folderlist,,,41&from=folderlist"
															 target="mainFrame" id="folder_reminder" onClick="switchFolder(this.id);" hidefocus>日历</a></span><a
														 class="nolinkbg fdleft" style="cursor:default; text-decoration:none;float:none;padding:0;margin:0 3px">|</a><span><a
															 href="/cgi-bin/note_list?catid=0&sid=E6tcguQ74MKx4nIt&info=1&t=note_first_page&loc=folderlist,,,32"
															 target="mainFrame" id="folder_note" onClick="switchFolder(this.id);" hidefocus class="unfoldersel">记事本</a></span></li>
													<li class="fs" id="folder_resume_td"> <a href="javascript:void(0)" target="mainFrame" id="folder_resume"
														 onclick="switchFolder(this.id);onResumeFolderClick('false');" hidefocus> <span>简历</span> </a> </li>
													<li class="fs" id="folder_onlinedoc_td"> <a href="/cgi-bin/readtemplate?sid=E6tcguQ74MKx4nIt&t=online_doc_webmail"
														 class="fdlist_width" target="mainFrame" id="folder_onlinedoc" onclick="switchFolder(this.id);" hidefocus>在线文档<b></b></a>
													</li>
													<script>
														var _oTop = getTop();

														_oTop.setOnlineAttachInfo({
															sOpen: "1",
															nChangeNum: "0"
														})
													</script>
													<li id="folder_attach_td" class="fs" dr="attach"><a accesskey="m" id="folder_attach" onClick="switchFolder(this.id);"
														 href="/cgi-bin/attachfolder?topmails=0&action=list&sid=E6tcguQ74MKx4nIt&s=search&folderid=attach&hflag=attach&page=0&t=attachfolder&subject=&sender=&receiver=&searchmode=attach&advancesearch=0&showattachtag=1&loc=folderlist,,,42"
														 target="mainFrame" class="f_size staradjust" hidefocus>附件收藏</a></li>
													<li id="folder_ftn_td" class="fs"><a accesskey="e" id="folder_ftn" onClick="switchFolder(this.id);"
														 hidefocus href="/cgi-bin/ftnfilefunc?sid=E6tcguQ74MKx4nIt&t=ftn&loc=folderlist,,,44" target="mainFrame"
														 class="fdlist_width normal f_size">文件中转站<span class="ftn_uploading" style="vertical-align:middle\9;_vertical-align:baseline;"></span></a></li>
													<li class="fs fs_sep" style=""><span><a accesskey="k" id="folder_card" href="/cgi-bin/cardlist?today_tips=200&sid=E6tcguQ74MKx4nIt&ListType=Cards&t=card&Cate1Idx=listall&loc=folderlist,,,31"
															 target="mainFrame" onClick="switchFolder(this.id);setHacClickCardBtn();" hidefocus>贺卡</a></span>
														<a class="nolinkbg fdleft" style="cursor:default; text-decoration:none;float:none;padding:0;margin:0 3px">|</a><span><a
															 id="folder_postcard" href="/cgi-bin/readtemplate?t=compose_postcard&sid=E6tcguQ74MKx4nIt&photogroupid=mh&photoid=2&loc=folderlist,,,38"
															 hidefocus target="mainFrame">明信片</a></span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- 写信部分 -->
				<div class="newskinbody111" id="rightPanel">
					<div style="margin:20px 0 0 20px;"><span class="ico_sendf" style="float:left;margin:-2px 4px 0 0;"></span>
						<div class="addrtitle" style="margin-left:50px;"><b class="biginfo_m" id="sendinfomsg">您的邮件已发送</b>
							<div id="sendinfodiv" style="margin:6px 0 14px 2px;line-height:18px"><span id="sendinfomsg_span">此邮件发送成功</span><span
								 id="sSaveSendShow">，并已保存到“已发送”文件夹</span>。 <span id="OverrunSaveSentLimit" class="txt_red" style="display:none;">由于邮件大小超过5M，存到“已发送”时默认未包含附件，以节省空间。</span>
								<div style=" line-height:20px"><span id="saveLargeAttachMail" style="display:none;"><a onclick="SavingBigAttach();"
										 style="text-decoration:underline;">保存完整邮件到“已发送”</a>&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="readSendbox"><a
										 href="javascript:goreadmail()" style="text-decoration:underline;">查看此邮件</a>&nbsp;&nbsp;&nbsp;</span><a id="showSendStatus"
									 href="javascript:ShowStatus();" style="text-decoration:underline;">查看发送状态</a> &nbsp;&nbsp;&nbsp;</div>
								<div>
									<div id="sendstatusloading" style="position:absolute;margin-top:10px; overflow:hidden; zoom:1;"></div><iframe
									 name="mailSendStatus" style="margin-top:-2px;width:580px;height:auto;display:none" frameborder="0" scrolling="no"
									 id="mailSendStatus" allowtransparency="true"></iframe>
								</div>
							</div>
							<script id="JsRun2" type="text/javascript">
								var canTalkUins = [];

								function TalkAll() {
									for (var i = 0, len = canTalkUins.length; i < len; i++) {
										getTop().QQPlusUI.Talk(canTalkUins[i]);
									}
								}

								function TalkWithAddrUseQQ() {
									if (!getTop().QQPlusUI) {
										return;
									}
									var a = _oAddrList;
									for (var i = 0, len = a.length; i < len; i++) {
										if (a[i]) {
											var uin = getTop().QQPlusUI.AddrToUin(a[i][1]);
											if (uin) {
												getTop().QQPlusUI.SetUinAction(uin, 4, getTop().getTop().gSendmailSubject);
												canTalkUins.push(uin);
											}
										}
									}
								}

								function CheckMobile(_number) {
									var _wrong = false;
									var _reg = new RegExp("^[0-9]{11}$", "i");
									if ("" == _number) {
										getTop().showError("请输入对方手机号码");
										_wrong = true;
									} else if (_number.length != 11) {
										getTop().showError("手机号码长度应为11个数字");
										_wrong = true;
									} else {
										var b = _reg.exec(_number);
										if (!b) {
											getTop().showError("手机号码长度应为11个数字");
											_wrong = true;
										}
										var _numhead = _number.substr(0, 3);
										if ((_numhead == "134") || (_numhead == "135") || (_numhead == "136") || (_numhead == "137") || (_numhead ==
												"138") || (_numhead == "139") || (_numhead == "150") || (_numhead == "151") || (_numhead == "152") || (
												_numhead == "158") || (_numhead == "159") || (_numhead == "157") || (_numhead == "187") || (_numhead ==
												"188")) {;
										} else {
											getTop().showError("很抱歉，目前只支持对移动手机发送");
											_wrong = true;
										}
									}
									return _wrong;
								}

								function ShowSMSFrame(_addrid) {
									var _div = getTop().S("smsdiv_" + _addrid, window);
									if (_div) {
										if (!getTop().isShow(_div)) {
											var _fr = getTop().S("sms_frame", window);
											if (_fr) {
												_fr.src = "/cgi-bin/addr_detail?sid=ohqZ37mAaEoysiJ9&AddrID=" + _addrid + "&t=addr_sqqsms" + "&r=" + Math.random();
												HideFD();
												gvShowDivId = "smsdiv_" + _addrid;
												getTop().show(_div, 1);
											}
										} else {
											_div.style.display = "none";
										}
									}
								}


								function SendSingle(_addrid) {
									if (!CheckMobile(getTop().S("addrnewmobile_" + _addrid, window).value)) {
										var _nick = getTop().S("smsfrom_" + _addrid, window);
										if (!_nick || (0 == _nick.value.length)) {
											getTop().showError("请输入您的昵称");
											_nick.focus();
											return false;
										} else {
											getTop().S("send_but_" + _addrid, window).disabled = "true";
											getTop().S("canc_but_" + _addrid, window).disabled = "true";
											getTop().S("smssingle_" + _addrid, window).submit();
										}
									} else {
										getTop().S("addrnewmobile_" + _addrid, window).focus();
										return false;
									}
								}

								function noAutoSubmit() {
									return false;
								}

								function GenTalkBtn() {
									var len = canTalkUins.length;
									if (len > 0 && getTop().isQQPlusRunning && getTop().isQQPlusRunning()) {
										var sex = getTop().QQPlusKernel.getUinsData()[canTalkUins[0]].sex;
										document.write(
											'<button class="btn f_size" onclick="TalkAll();" style="margin-left:15px;"/><img src="https://rescdn.qqmail.com/zh_CN/htmledition/images/qqplus_online1e9c5d.gif" >&nbsp;告诉' +
											(len > 1 ? '他们' : (sex == 1 ? '她' : '他')) + '有信了</button>');
									}
								}

								function showBindDialog(_sURL, _asTitle) {
									new(getTop().QMDialog)({
										sId: "bind2phone",
										sTitle: _asTitle || "开通回信提醒",
										sUrl: _sURL ||
											"/cgi-bin/reminder_mgr?t=remind2phone_dlg&sid=ohqZ37mAaEoysiJ9&action=opensms&sorttype=create&filter=1&s=open",
										nWidth: 500,
										nHeight: 345,
										onclose: function() {
											getTop().getActionWin().location.replace(
												'/cgi-bin/reminder_mgr?sid=ohqZ37mAaEoysiJ9&action=opensms&t=reminder_mgr');
										}
									});
								}


								TalkWithAddrUseQQ();
							</script>
							<div id="buttondiv" style="padding-bottom:40px;"><span id="rssbacklist" style="display:none;"><input type="button"
									 id="btnrssbackl" class="btn b_size" value="继续阅读 »" onclick="javascript:gorss()" style="margin-top:-4px;height:30px;vertical-align:top;">
									<script type="text/javascript">
										(function() {
											GenTalkBtn();
										})();
									</script>
								</span><span id="backlist" style="display: block;"><a href="javascript:getTop().backHome('141');" class="btn_blue btn_space"
									 id="btnbackl">返回邮箱首页</a><a href="javascript:;" class="btn_gray" id="btnagainl" onclick="location.replace('/cgi-bin/readtemplate?sid=ohqZ37mAaEoysiJ9&amp;s=cnew&amp;t=compose'+(getTop().bnewwin?'&amp;newwin=true':''));return false;">再写一封</a>
									<script type="text/javascript">
										(function() {
											GenTalkBtn();
										})();
									</script>
								</span><span id="backReceive" style="display:none;"><a href="javascript:;" id="btnagainr" onclick="javascript:getTop().close()"
									 class="btn_blue">关闭窗口</a></span><span id="entermail" style="display:none;">&nbsp;&nbsp;&nbsp;<a onclick="javascript:getTop().goUrlTopWin('/cgi-bin/frame_html?sid=ohqZ37mAaEoysiJ9&amp;newwin=newwin');"
									 style="line-height:25px;">进入邮箱</a></span></div>
						</div>
					</div>

				</div>


	</body>
</html>
